[Desktop Entry]
Encoding=UTF-8
Name=Redrose
Name[fr]=Redrose
Comment=ABC music notation graphical environment
Comment[fr]=Environnement graphique de notation musicale ABC
GenericName=ABC editor
GenericName[fr]=Éditeur ABC
Keywords=music;score;notation;tune;gig;jam
Keywords[fr]=musique;partition;notation;morceau;concert;jam
Exec=redrose %F
Icon=redrose
Terminal=false
Type=Application
Categories=AudioVideo;
MimeType=application/vnd.abc;
